@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
https://www.dafont.com/pkmn-rbygsc.font
©GAME FREAK
©FontStruct
https://www.fontsquirrel.com/tools/webfont-generator
*/

@font-face {
  font-family: "pkmn_rbygscregular";
  src: url("font/pkmn_rbygsc-webfont.woff2") format("woff2"),
    url("font/pkmn_rbygsc-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "pkmn_rbygscregular", Arial, Helvetica, sans-serif;
}

.textbox {
  @apply border border-double border-8 rounded-xl p-3 pt-6;
  border-color: var(--foreground);
}

.clickable {
  @apply border-2 border-foreground hover:cursor-pointer select-none hover:ring-4 ring-foreground;
}

.logo-outline {
  --outline-color: #3367af;
  text-shadow: -2px -2px 0 var(--outline-color), 2px -2px 0 var(--outline-color),
    -2px 2px 0 var(--outline-color), 2px 2px 0 var(--outline-color),
    -3px 0px 0 var(--outline-color), 3px 0px 0 var(--outline-color),
    0px -3px 0 var(--outline-color), 0px 3px 0 var(--outline-color);
}
